body {
		font: 13px Helvetica, arial, freesans, clean, sans-serif;
		color: #333;
	}

.header a {
    text-decoration: none;
    color: #333;
}

.footer a {
    text-decoration: none;
    color: #666;
}

a:hover {
    text-decoration: underline;
}

.header {
    width: 100%;
    height: 100px;
}

.image,
.search,
.buttons,
.footer {
    text-align: center;
}

.image {
    margin-top: 90px;
}

.search {
    margin-top: 20px;
}

.navigation {
    float: right;
    padding-right: 20px;
}

.footer {
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #f2f2f2;
}

.top {
    display: inline;
    margin-right: 10px;
}

.signin {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db);
    background-image: -moz-linear-gradient(top, #3498db);
    background-image: -ms-linear-gradient(top, #3498db);
    background-image: -o-linear-gradient(top, #3498db);
    background-image: linear-gradient(to bottom, #3498db);
    font-family: Arial;
    color: #ffffff;
    font-size: 13px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    border: none;
}

form input {
    height: 25px;
    width: 500px;
    font-size: 15px;
}

.buttons button {
    color: rgb(68, 68, 68);
    font-weight: bold;
    font-size: 11px;
    height: 30px;
    width: 110px;
    margin-top: 15px;

}

#feelingLucky {
    margin-left: 20px;
}

.links {
    color: #666;
}

.links_left {
    float: left;
}

.links_right {
    float: right;
}

.links_left,
.links_right {
    padding: 0 20px 0 20px;
    list-style-type: none;
}

#extraMargin {
    margin-right: 40px;
}
